<section class="panels-section">
  <div class="panels-wrap">
    <div class="panel">
      <div class="panel-tab">
        <h1 class="panel-title">{{site.first-service-title}}</h1>
      </div>
      <div class="panel-content">
        <h2 class="panel-text">{{site.first-service-content}}</h2>
        <div class="btn-wrap" panels-button>
          <a href="{{site.about-page-slug}}" class="novis-button bgc-primary">{{site.service-button-title}}</a>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-tab">
        <h1 class="panel-title">{{site.second-service-title}}</h1>
      </div>
      <div class="panel-content">
        <h2 class="panel-text">{{site.second-service-content}}.</h2>
        <div class="btn-wrap" panels-button>
          <a href="{{site.about-page-slug}}" class="novis-button bgc-primary">{{site.service-button-title}}</a>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-tab">
        <h1 class="panel-title">{{site.third-service-title}}</h1>
      </div>
      <div class="panel-content">
        <h2 class="panel-text">{{site.third-service-content}}</h2>
        <div class="btn-wrap" panels-button>
          <a href="{{site.about-page-slug}}" class="novis-button bgc-primary">{{site.service-button-title}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
